#!/bin/bash

# Change SSH port

sudo sed -i 's/\#Port 22/Port 344/g' /etc/ssh/sshd_config
sudo systemctl restart sshd

# Install the Azure CLI 
sudo apt-get install ca-certificates curl apt-transport-https lsb-release gnupg -y
curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null
AZ_REPO=$(lsb_release -cs)
echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
sudo apt-get update && sudo apt-get install azure-cli -y



# Write VM tags to a file

echo $input_value > $output_file

